$backgroundColor:pink;
$accentColor:green;
$fontFam:'El Messiri',sans serif;

.container{
  // margin:10px;
  // border:solid 5px black;
  // border-radius: 15px;
  font-family: $fontFam;
}
.header{
}

.title{
  margin-top:10px;
  margin-left:10px;
  padding:15px;
  font-size: 65px;
  color:#516C92;
}
// navbar styling based on http://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_active
.navbar{
  border:solid 1px #516C92;
  background:#516C92;
  margin-bottom: 20px;
  font-size:25px;
  }

.navbarButtons{
  padding-left: 20px;
  padding-right: 20px;
}


.shop{
  padding:10px;
  font-size: 25px;
}
.instructions{
  padding:5px;
  font-size: 25;
  margin-left: 30%;
}

  ul {
  list-style-type: none;
   margin: 0;
   padding: 3px;
   overflow: hidden;


}

li {
    float: left;
    color: white;
    text-size:25px;
}

li a {
    display: block;
    padding: 8px;
    background-color: #516C92;
    text-decoration: none;
    color: white;
    text-size:25px;
}

li a.active{
  background-color: #516C92;
  color:white;

}

li a:hover:not(.active){
  background-color: #555;
  color:white;
  text-decoration: none;
  float: left;

}
.catalogItem{
    border:solid 1px #516C92;
    border-radius: 5px;
    padding:10px;
    // margin-right:20px;
    // margin-left:20px;
    color:black;
    width:100px;
}

.productThumbnail{
  width:75px;
}
// grid system courtesy of http://www.responsivegridsystem.com/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
  color:blue;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


// @import "susy";
// // from https://css-tricks.com/build-web-layouts-easily-susy/
// /* Changing Susy default global settings */
// $susy: (
// // Tells Susy to use 12 columns
//   columns: 12,
// // Tells Susy that the container has a max-width of 1120px
//   container: 1120px,
// // Tells Susy to use border-box
//   global-box-sizing: border-box
//   );
//
// /* Makes border-box properties */
// @include border-box-sizing;
//
// // It is recommended that you use the container mixin to create the container for the website whenever you use Susy. In our case, this container is .wrap
// .wrap {
//   @include container;
// }
//
// /* Tells Susy there's 8 columns in the content */
// .content {
//   @include span(8);
// }
//
// /* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
// .sidebar {
//   @include span(4 last);
// }
