<div class="container">
  <header>
    <h1>BLACK CAT TEMP TATS - Admin </h1>
    <a href = '#/productmain'>click here for Product Main</a>
    <a href = '#/productdetails'>click here for Product Details Sample Page</a>
    <a href = '#/productcart'>click here for Shopping Cart</a>
  </header>
<!-- <div ng-controller = "myCtrl">
</div> -->
<div class="tablediv">
  <table>
    <!-- <tbody> -->
      <tr>
        <th> Product name </th>
        <th> Description </th>
        <th> Image </th>
        <th> Price </th>
        <th>  </th>
        <th>  </th>
      </tr>
    <div ng-controller='myCtrl'>

      <tr ng-repeat = "product in products.items">
        <td> <input type="text" ng-model = "product.name"> </input> </td>
        <td> <input type="text" ng-model = "product.description"> </input> </td>
        <td> <input type="text" ng-model = "product.image"> </input> </td>
        <td> <input type="text" ng-model = "product.price"> </input> </td>
        <!-- <td> <button> Edit </button> </td> -->
        <td> <button class="removebtn" ng-click="removeItem($index)" ng-model= "product.id"> Remove </button> </td>
      </tr>

    </div>
      <tr>
        <td> <a href ng-click="addItem()" class= "btn btn-small" >Add Item</a></td>
        <td>
          <div ng-controller = 'SaveForm'>
          <form>
            <button class="savebtn" ng-click="saveItem()">Save</button>
          </form>
        </div>
        </td>
      </tr>
        <!-- </tbody> -->


        <!-- <td> <input type="text" value="Item 2"> </input> </td>
        <td> <input type="text" value="All about Item 2"> </input> </td>
        <td> <input type="text" value="image.com"> </input> </td>
        <td> <input type="text" value="price"> </input> </td>
        <td> <button> Edit </button> </td>
        <td> <button> Remove </button> </td>
      </tr>
      <tr>
        <td> <input type="text" value="Item 3"> </input> </td>
        <td> <input type="text" value="All about Item 3"> </input> </td>
        <td> <input type="text" value="image.com"> </input> </td>
        <td> <input type="text" value="price"> </input> </td>
        <td> <button> Edit </button> </td> -->
        <!-- <td> <button> Remove </button> </td>
      </tr>
      <tr>
        <td> <button> Add new item </button> </td>
      </tr> -->

    </table>
  </div>


  <footer>
    <a href="#/productmain"><button class="savebtn consumer"><i class="fa fa-angle-left" aria-hidden="true"></i> Consumer View</button></a>
  </footer>











</div>
